* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #4F6FFA;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    background-color: #8FA2FB;
    border-radius: 50px;
    text-align: center;
}

main {
    background-color: #DAE1FD;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 30px;
}

main > [class^=main-] {
    margin: 20px 0;
}

.main-top {
    text-align: right;
}

.main-top > a {
    width: 120px;
    padding: 10px;
    
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
}

.list-head {
    font-weight: 900;
    background-color: #8FA2FB;
    border-radius: 50px;
    color: #fff;
}





