div, span {
    border: 3px solid black;
    margin: 10px;
}
.none {
    display: none;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
span {
    width: 200px;
    display: inline-block;
}