.container {
    width: 500px;
    height: 500px;
    background-color: rgb(145, 145, 145);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    align-content: space-between;
}
.item {
    background-color: rgb(18, 188, 255);
    border: 1px solid black;
}
.row-2 {
    width: 49%;
}
.column-3 {
    height: 32%;
}
.column-2 {
    height: 47%;
    flex-direction: column;
    justify-content: space-between;
}
.row-1 {
    width: 100%;
}
.item_box {
    display: flex;
    flex-direction: column;
}